<p>
  Hello <%= @user.name if @user.name.present? %>,
</p>
<p>
  Congratulations. You have successfully registered with Mind Your Pitch.
</p>
<p>
  You have taken the second most important step on bettering your prospects. First step was to realize that you need a pitch. You acted on it very well by creating your pitch profile with Mind Your Pitch.
</p>
<p>
  Do not forget to share your pitch with your friends and family to enable them to comment on your pitch. That will help you better your pitch. Also look at how others are pitching themselves to learn from them and get ideas on improving your pitch.
</p>
<p>
  Remember to be nice by clicking the Like button for the pitches you really like. We encourage you to write useful comments on others pitches. That will help them improve their pitch and increase their rankings. Feel free to expect the same from them. They will help you better your pitch too.
</p>
<p>
  If you have not registered yourself on http://mindyourpitch.com then please send us an email at unregister@mindyourpitch.com.
</p>

<p>
  Happy Pitching,<br/>
  Mind Your Pitch Team
</p>
