<div id="fb-root"></div>
<script src='http://connect.facebook.net/en_US/all.js'></script>
<script type="text/javascript">
  FB.init({appId: "<%= FACEBOOK_CONFIG[:app_id] %>", status: true, cookie: true});

  function postToFeed(postLink, logo, description, title) {

    // calling the API ...
    var obj = {
      method: 'feed',
      link: postLink,
      picture: logo,
      name: title + ' @mindyourpitch',
      caption: 'How is that?',
      description: description
    };

    function callback(response) {
      document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
    }

    FB.ui(obj, callback);
    return false;
  }
</script>

<%# Twitter %>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<%# Google+ %>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

<%# inshare %>
<%#*<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>%>
<%#*<script type="IN/Share" data-counter="right"></script>%>