<% content_for :page_header do %>
<title>Elevator pitch framework | Mind Your Pitch</title>
  <meta name="Description" content="Elevator pitch builder tool for helping you get started to create your elevator pitch." />
<% end %>

<div class="new-pitch-unit elevator-pitch-framework-unit">
  <div class="elevator-pitch-framework">
    <h2>Elevator Pitch Framework
       <em>Getting started with your elevator pitch.</em>
    </h2>
    <p class="description">
      Every pitch must have its individuality. The below framework helps you get started. The order is not important. Answer the questions in below blue box and arrange them in the most compelling manner.
      <br/><br/>
      <em>Don't worry if you still cannot find words, we'll help you build your pitch once you register and send us a request.</em>
    </p>
    <%= render :partial => 'pitches/getting_started'%>
    <div class="cta">
      <% if current_user %>
        <%= link_to 'Ready to craft your pitch now?' , (current_user.pitch_created? ? edit_pitch_path : new_pitch_path) , :class => " signup-button" %>
      <% else %>
        <%= link_to 'Ready to craft your pitch now?' , new_user_registration_path, :class => " signup-button" %>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="clearfix"></div>

