// Place all the styles related to the SeoSettings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.seo-setting-unit {width:80% !important;}
.seo-setting-unit .elevator-pitch-tagline{margin-bottom:2em !important;}
.seo-setting-unit div.helper{float:left;width:40%;margin-top:1.2em;}

.seo-setting-unit div.helper .example{margin-top:5%;}

.seo-setting-unit div.seo_settings_form{float:left;width:57%;margin-right:3%;}
.seo-setting-unit h3{font-size:18px;}
.seo-setting-unit h4{font-size:16px !important; margin:0 0 0.1em 0;}
.seo-settings div.pitch{background: #ffffff;padding:1em;font-style:italic;-moz-box-shadow: 1px 1px 4px 0 #999999 !important;-webkit-box-shadow: 1px 1px 4px 0 #999999 !important;box-shadow: 1px 1px 4px 0 #999999 !important; border-radius: 8px;}
.seo-settings div.pitch em{color:#3499C7;text-decoration:underline;}
.seo-settings label{display:inline;color: #999999;}
.seo-settings input[type="text"] {width: 100%;}
.seo-settings input[type="text"].url{width:30%;}

.seo-settings .status{text-align:right;font-style:italic;padding:0;margin-top:-0.5em;}
.seo-settings .status em.warn{color:red;}
.seo-settings .status em.success{color:green;}

