<h1 class="elevator-pitch">Let's make your pitch Google friendly.</h1>
<h2 class="elevator-pitch-tagline ">This is optional but highly recommnded. Click next if you would like to do it later.</h2>

<%= error_messages_for @seo_setting, @user, :message => "Oops! something went wrong." %>
<div class="pitch-information-unit pitch-request seo-settings">
	<div class="seo_settings_form">
	  <%= f.hidden_field :pitch_id %>
	  <h3>Pick phrases or words from your pitch and link them</h3>

	  <h4>First Phrase - Keyword<br/><em>You want your pitch to be found, when people search for a particular word or phrase. What should that be? The phrase should be found in your pitch above.</em></h4>
	  <%= f.text_field :first_phrase, :class => 'first_phrase' %>
	  <p class="first_phrase_match_status status"></p>

	  <h4>First URL<br/><em>Where do you want your readers to goto when they click on the first phrase?</em></h4>
	  <%= f.text_field :first_url, :placeholder => 'http://mindyourpitch.com'  %>

	  <h4>Second Phrase - Keyword<br/><em>Let's add one more phrase that people can search you on. Again, this phrase should be found in your pitch above.</em></h4>
	  <%= f.text_field :second_phrase, :class => 'second_phrase' %>
	  <p class="second_phrase_match_status status"></p>


	  <h4>Second URL<br/><em>Where do you want your readers to goto when they click on the second phrase?</em></h4>
	  <%= f.text_field :second_url, :placeholder => 'http://mindyourpitch.com'  %>

	  <h3>Google search results configurations</h3>

	  <h4>Page title (70 chars)<br/><em>What do you want your page title to be? This appears on the browser window.</em></h4>
	  <%= f.text_field :page_title, :maxlength => 70 %>


	  <h4>Page description(140 chars)<br/><em>What do you want your page descriton to be? This appears in search results.</em></h4>
	  <%= f.text_field :page_description, :maxlength => 140 %>

	  

	  <div class="create-pitch-padding">
	    <%= f.submit "Submit", :class => "create-pitch-button" %>
	  </div>
	</div>
	<div class="helper">
	  <div class="pitch">
	  	<h4>Your pitch</h4>
	  	<%= simple_format(h(@seo_setting.pitch.description)) %>
	  </div>
	  <div class="example">
	  	<h4>Google search example</h4>
	  	<%= image_tag 'google_example.png' %>
	  </div>
 	</div>
</div>
<div class="clearfix"></div>

