<%= form_for @seo_setting, :url => seo_setting_path(:id => @seo_setting.id), :html => {:method => :put, :id => 'pitch_form'} do |f| %> 
  <div class="new-pitch-unit seo-setting-unit">
    <%= render :partial => "seo_settings/form", :locals => { :f => f }  %>
  </div>
<% end %> 
