<%= form_for @seo_setting, :url => seo_settings_path, :html => {:method => :post, :id => 'pitch_form'} do |f| %> 
  <div class="new-pitch-unit seo-setting-unit">
    <%= render :partial => "seo_settings/form", :locals => { :f => f }  %>
  </div>
<% end %> 
