<li>
  <div class="btn-group signout-button-group">
    <a class="btn dropdown-toggle signout-button" data-toggle="dropdown" href="#">
	  <%= current_user.name %>
	  <span class="caret signout-caret"></span>
	</a>
    <ul class="dropdown-menu my-dropdown-menu">
      <!-- dropdown menu links -->
      <li><%= link_to "My Profile", edit_user_registration_path %></li>
      <li><%= link_to "My pitch", (current_user.pitch_created? ? edit_pitch_path : new_pitch_path) %></li>
      <% if current_user.pitch_created?%>
        <% if current_user.pitch.seo_settings_configured? %>
         <li>
          <%= link_to "SEO Settings", edit_seo_setting_path(current_user.pitch.seo_setting) %>
         </li>
        <% else %>
         <li>
          <%= link_to "SEO Settings", new_seo_setting_path(:identifier => current_user.pitch.identifier) %>
         </li>
        <% end %>
      <% end %>
	  <% unless current_user.social_signin? %>
	  	<li><%= link_to "Change Password", change_password_path %></li>
	  <% end %>
      <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
    </ul>
  </div>
</li>
