<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="canonical" href="<%= "http://#{request.host}#{request.path}" %>"/>
    <%= yield :page_header %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
    <script type="text/javascript" src="//use.typekit.net/exz2uvl.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
	<div class="wrapper">
    <%= render(:partial => "layouts/beta_label") %>
    <%= render :partial => 'layouts/navigation'%>
	  <%= render :partial => 'layouts/signed_in_information'%>

<% if show_introduction?%>
  <div class="introduction">
    <div class="box">
      <h1>What do you say when someone asks, <em>"What do you do?"</em></h1>
      <p class="description">You have less than one minute to answer "What you do?". Your audience knows nothing about your business, you passion or your goals. Are you prepared? Can you present it in the most compelling way to want them to know more?</p>
    </div>
    <div class="shadow-image between-shadow"><%= image_tag("/assets/shadow.png") %> </div>
    <div class="ctaBox">
      <table>
        <tr>
        <td>
          <div class="business">
            <h2>Business</h2>
            <p>
              Create & broadcast your pitch.<br/>
              Instigate action.
            </p>
           
          </div>
        </td>
        <td>
          <div class="jobseeker">
            <h2>Jobseeker</h2>
            <p>
              Get your dream interview scheduled.<br/>
              Standout. Be found.
            </p>
          </div>
        </td>
        <td class="last">
          <p class="bubble">Don't worry if you <br/> cannot find  the right words?<em>.</em><%= image_tag 'bubble.png' %></p>
          <p class="ctaText">Take the first step today!</p>
          <%= link_to 'Get started',new_user_registration_path, :class => " signup-button" %>
        </td>
      </tr>
      </table>
    </div>
  </div>
  <div class="shadow-image"><%= image_tag("/assets/shadow.png") %> </div>
<% end %>

      <div class="container">
        <div id="notification">
          <%= bootstrap_flash %>
        </div>
        <%= yield %>
	    <div class="push"></div>
	  </div>
	
	</div>
    <%= render :partial => 'layouts/footer'%>
    <%= render :partial => 'layouts/google_analytics'%>
  </body>
</html>
